[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
[submodule "gettoknow/themes/hugo.386"]
	path = gettoknow/themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
